<!-- Menu Horizontal -->
<ul class="menu">
    <li><a href="{{ path('dashboard_homepage') }}">{{ 'game_dashboard.admin.nav.index'|trans }}</a></li>
    <li><a href="{{ path('game_dashboard_game_start_list') }}">{{ 'game_dashboard.admin.nav.start'|trans }}</a></li>
    <li><a href="{{ path('game_dashboard_game_list') }}">{{ 'game_dashboard.admin.nav.game'|trans }}</a></li>
</ul>